
.MuiDataGrid-cell--withRenderer{
    display: none;   
      max-height: "168px !important"
}

.MuiDataGrid-cell{
    /* display: none !important; */

    line-height: normal;
    white-space: normal;
    }