/* Sidebar arroe icon css */
.Arrow-icon-Sidebar {
  font-size: medium;
}

#listing {
  margin-top: -5px;
}

#Dynamic_POST {
  margin-top: -14px;
}

.nav-dropdown-items-Dynamic_POST {
  display: none;
  /* Initially hidden */
}

.nav-dropdown-items-Dynamic_POST {
  display: block;

}

#nav-dropdown-items-dynamic_page {
  display: none;

}

#nav-dropdown-items-dynamic_page {
  display: block;

}

.nav-dropdown-items-Page {
  display: none;
}

.nav-dropdown-items-Page {
  display: block;
}

/* Css for navbar */
.navbar-search {
  margin-left: 76%;
  margin-top: -40px;
  margin-bottom: 18px;
}


/* css for table cell hight width and wrapping */
/* CSS FOR TABLE HEADING */

.MuiDataGrid-columnHeaderTitle {
  white-space: normal !important;
  word-wrap: break-word !important;
  overflow: visible !important;
  text-overflow: unset !important;
  height: auto !important;
  /* width: auto !important; */
  box-sizing: content-box !important;
}

.MuiDataGrid-cell {
  white-space: normal !important;
  word-wrap: break-word !important;
  overflow: visible !important;
}

.MuiDataGrid-columnHeaderDraggableContainer {
  height: auto !important;
  /* width: auto !important; */
}

.MuiDataGrid-columnHeaders {
  line-height: inherit !important;
}



/* CSS FOR TABLE DATA */

.MuiDataGrid-root .MuiDataGrid-cell {
  height: auto !important;
  /* width: auto !important; */
  max-height: none !important;
  /* max-width: none !important; */
  min-height: auto !important;
  white-space: normal !important;
  word-wrap: break-word !important;
  overflow: visible !important;
  text-overflow: unset !important;
  /* box-sizing: content-box !important; */

}

.MuiDataGrid-root .MuiDataGrid-cellContent {
  white-space: normal !important;
  word-wrap: break-word !important;
  overflow: visible !important;
  text-overflow: unset !important;
}

.MuiDataGrid-cellContent {
  white-space: normal !important;
  word-wrap: break-word !important;
  overflow: visible !important;
  text-overflow: unset !important;
}

.MuiDataGrid-root .MuiDataGrid-row {
  height: auto !important;
  max-height: none !important;
  min-height: auto !important;
}

/* .MuiDataGrid-root .MuiDataGrid-columnHeaders {
  overflow-x: hidden !important;
} */
/* .color-code fieldset{
  border-style: none;
 } */

.color-code .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-style: none !important;
}

.MuiDataGrid-cell--withRenderer {
  display: none;
  max-height: "168px !important"
}

.MuiDataGrid-cell {
  /* display: none !important; */

  line-height: normal;
  white-space: normal;
}

/*css for pagination dropdown  */
.MuiInputBase-colorPrimary {
  margin-bottom: 13px;
}

/* css  pagination back next*/
.MuiTablePagination-actions {
  margin-top: -12px;
}


/* for word wrap */
.MuiDataGrid-virtualScrollerRenderZone div {
  /* background-color: brown !important; */
  word-break: break-all !important;
}

/* sidebar hover menu css */
.nav-item {
  position: relative;
}

.nav-item:hover {
  background-color: #304d5b;
}

.nav-dropdown-items {
  display: none;
}

.nav-item:hover .nav-dropdown-items {
  display: block;
}

.nav-dropdown-items li {
  padding: 10px;
}

.nav-dropdown-items li:hover {
  background-color: #304d5b;
}

/* .slideractive {
  background-color: #c2cddf;
} */
.nav-item.active {
  background-color: #304d5b;
  /* Change to desired active color */
}

/* post edit  bg color  */

.Edit-list a {
  color: #1976d2;
}